.join-us {
    color: white;
    display: flex;
    flex-direction: column;
}

.container-join {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 10%;
    margin-right: 10%;
}

.right-join {
    display: flex;
    flex-direction: columns;
}

.custom-select {
    padding: 12px;
}

.career-input {
    background-color: transparent;
    border: 1px solid white;
    padding: 0.8rem 3rem;
    font-size: 20px;
    width: 100%;
    color: white;

}

.form-career {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.left-join p {
    font-size: 30px;
    line-height: 2.5rem
}

.left-join h2 {
    font-size: 40px;
}

.career-span {
    color: #DB5324;
}

.submit-join {
    padding: 1rem 4rem;
    background-color: #DB5324;
    border: 1px solid black;
    color: white;
    border-radius: 12px;
    font-size: 22px;
}



.submit-join:hover {
    background-color: #e06f4a;
}

.title-join h1 {
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .container-join {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}