.events {
    margin: 100px 200px;
}

.container {
    border: 2px solid #DB5324;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-calender {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 50px;
}

.calender svg {
    font-size: 90px;
}

.title {

    display: flex;
    flex-direction: column;
    background-color: #DB5324;
    text-align: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 22px;
}

.title h2 {
    color: white;


}

@media screen and (max-width: 767px) {
    .container {
        width: 400px;
    }

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
}