#header {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 6rem;
    margin: 10px;

}

.header-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
}

.button {
    margin-left: 200px;
    margin-right: 10px;
}

.button a {
    background-color: #f44d16;
    text-decoration: none;

}

.header-menu a {
    text-decoration: none;
    color: white;
}

.header-menu>li:hover {
    cursor: pointer;
    color: var(--orange);
}

@media screen and (max-width: 767px) {
    .header-menu>li:hover {
        cursor: pointer;
        color: var(--orange);
    }

    .header>:nth-child(2) {

        width: 100%;
        z-index: 99;
    }

    .header-menu {
        flex-direction: column;
        background-color: rgb(106, 105, 105, 0.1);
    }

    .button {
        display: none;
    }

    .header {
        height: 100vh;
    }

    .logo {
        display: none;
    }
}