.contact-page {
    background-image: url('../../assets/athelete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-blend-mode: difference;
    color: white;
    display: flex;
    flex-direction: column;
}

.contact-page .title-contact {
    text-align: center;
}

.contact-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-2 {
    background-color: rgb(red, green, blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.right-2 {
    background-color: rgb(red, green, blue);
    height: 80vh;
    display: flex;
}


.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    gap: 3rem;
    margin-left: 300px;
}

.right-content .credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
}

.right-content h2 {
    font-size: 42px;
    margin-bottom: 0;
}

p {
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.2em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: white
}

.form input {
    background-color: transparent;
    border: 1px solid white;
    padding: 1rem 5rem;
    font-size: 20px;
    width: 100%;
    color: white;


}

.submit-button {
    padding: 1rem 3rem;
    font-size: 16px;
    background-color: #DB5324;
    border: 1px solid black;

}

.left-2 h1 {
    color: #DB5324;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

@media screen and (max-width: 767px) {
    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .right-2 {
        height: 100vh;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;

    }

    .right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}