.login-text {
    color: white;
    background-color: black;

}

.form-signin {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

}

.login-text {
    width: 50%;
    border: 2px solid white;
    border-radius: 12px;
    padding: 12px 5px;
    text-align: center;
}

.login-button {
    padding: 1rem 6rem;
    color: white;
    border: 1px solid black;
    border-radius: 22px;
    background-color: #f44d16;
    font-size: 22px;
}