.program {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.main h1 {
    color: white;
    text-align: center;
}